@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --main-background-color: #e7e8e8;
  --grey-color: #dadadb;
  --grey-underline-color: #c8c8ca;
  --icon-purple-color: #a076a7;
  --icon-grey-color: #979da3;
  --icon-green-color: #4f7f7d;
  --icon-orange-color: #aa6954;
  --icon-red-color: rgb(173, 43, 43);
  --icon-pink-color: rgb(211, 144, 155);
  --green-color: #4cc437;
  --red-color: #ff6262;
}

/* soft reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif, serif;
}

/* main dashboard area */
.dashboard {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* left hand section */
.left {
  background: var(--main-background-color);
  position: relative;
  min-width: 270px;
}

.left-side-wrapper,
.add-project-container {
  width: 90%;
  margin: auto;
}

.user-profile img {
  width: 60px;
  border-radius: 50%;
}

.user-info {
  height: fit-content;
  align-self: center;
}

.user-info p {
  margin-top: 5px;
}

.left-side-wrapper input {
  width: 90%;
  border: none;
  padding: 7px;
  border-radius: 5px;
  background: var(--grey-color);
  font-size: 1rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 15px;
  font-weight: bold;
}

.left-side-wrapper input::placeholder {
  font-weight: bold;
}
.user-profile {
  display: flex;
  margin: 30px 0 10px 0;
  justify-content: flex-start;
  gap: 8px;
  font-weight: bold;
  font-size: 1.1rem;
}

.left-side-wrapper input:focus {
  outline: none;
}

.search-icon {
  width: 10%;
  background-color: var(--grey-color);
  padding: 9px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.left-side-wrapper ul {
  list-style: none;
}

.left-side-wrapper ul li i {
  width: 32px;
  text-align: center;
}

.left-side-wrapper li {
  font-size: 1.1rem;
  font-weight: bold;
}

.tip {
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: bolder;
  width: 90%;
  margin: auto;
  text-align: left;
  position: absolute;
  padding: 7px;
  bottom: 40px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.left-side-wrapper ul button {
  height: fit-content;
  margin: 16px 0;
  border: none;
  background: transparent;
  cursor: pointer;
  display: block;
}

.left-side-wrapper ul button:hover {
  color: var(--icon-grey-color);
}

.tip:hover {
  background: var(--grey-color);
}

.tip i {
  width: 10px;
  font-size: 1.2rem;
  margin-right: 5px;
  text-align: center;
}

#divider {
  height: 2px;
  background-color: var(--grey-underline-color);
}

.projects li {
  padding-left: 8px;
}

/* right hand section */
.right {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.main-container {
  height: 90%;
  width: 90%;
}

.default-task-view {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 80px;
  grid-auto-rows: 80px;
  gap: 5px;
}

.task {
  background: var(--main-background-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.task:hover {
  opacity: 0.75;
}

.task > * {
  margin: 0 15px;
}

.task input {
  height: 25px;
  width: 25px;
  accent-color: var(--green-color);
}

.task h4,
.task p {
  font-weight: bold;
}

.task button {
  border: none;
  cursor: pointer;
  background: transparent;
  text-align: right;
  position: absolute;
  right: 0;
}

.task .delete-btn {
  right: 40px;
}

.favourite:hover {
  color: green;
}

.delete:hover {
  color: red;
}

.task i {
  font-size: 1.5rem;
}

/* add new task button */
#new-task-btn {
  position: fixed;
  bottom: 40px;
  right: 70px;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50%;
  font-size: 3rem;
  background: rgb(17, 17, 17);
  color: var(--grey-color);
  transition: all 0.3s;
  cursor: pointer;
  z-index: 5;
}

#new-task-btn:hover {
  transform: scale(1.1);
}

/* add new task overlay */

.modal-container form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 250px;
}

.modal-container form input,
.modal-container form select {
  padding: 8px;
  margin: 3px 0 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
}

.modal-container form input:focus,
.modal-container form select:focus {
  outline: none;
}

.submit-form-button,
.close-btn {
  width: 50px;
  height: 50px;
  font-size: 1.3rem;
  transition: all 0.1s;
  cursor: pointer;
  border: none;
  margin: 15px 0 10px 0;
  border-radius: 50%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.submit-form-button:hover {
  transform: scale(1.1);
  background-color: #9ef090;
}

.close-btn:hover {
  transform: scale(1.1);
  background-color: var(--red-color);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(159, 169, 177, 0.8);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}

.modal-container h2 {
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}

/* open modal */
.open-modal {
  visibility: visible;
  z-index: 10;
}

/* view details about task */
.task-details {
  visibility: hidden;
}

.view-more {
  visibility: visible;
}
